<div ui-calendar="uiConfig.calendar" ng-model="eventSources" calendar="maggieCalendar"></div>
<modal-dialog show='modalShown' width='750px' height='60%'>
  <h2>Add Appointment</h2>
  <h3>Service:</h3>
  <select class="" name="Choose Service" ng-model="service" ng-options="service.name for service in services" ng-change="service">
  </select>
  <h3>Price:</h3>
  {{service.price}} <br>
  Time: {{service.time}}
  <h3>Comments:</h3>
  <input type="textarea" name="Comments" value="">
  <button type="button" name="book" ng-click="addNewEvent(service)">BOOK APPOINTMENT</button>
</modal-dialog>
