<header-directive></header-directive>
	<div class="container">
		<div class="contact-details">
			<div class="side-header">
				<h3>Contact Details</h3>
			</div>
			<p>Maggie Keysor</p>
			<p>435.862.5906</p>
			<p>maggiemaekeysor@gmail.com</p>
			<div class="side-header">
				<h3>Business Hours</h3>
			</div>
			<p><strong>Monday:</strong> 10 - 8</p>
			<p><strong>Tuesday:</strong> 10 - 8</p>
			<p><strong>Wednesday:</strong> 10 - 8</p>
			<p><strong>Thursday:</strong> 10 - 8</p>
			<p><strong>Friday:</strong> 10 - 8</p>
			<p><strong>Saturday:</strong> 10 - 8</p>
			<div class="side-header">
				<h3>Connect</h3>
				<!-- <a href="http://instagram.com/maggslashes"><img src="img/instagram.png" /></a>
				<a href="http://facebook.com/maggslashes"><img src="img/facebook.png" /></a>
				<a href="http://twitter.com/93maggiemae"><img src="img/twitter.png" /> -->
			</div>
		</div>
	</div>
<footer-directive></footer-directive>